@mixin buttonStyle {
  padding: 10px;
  text-transform: capitalize;
  border-radius: 35px;
}
.auth-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f0f2f5;
  padding: 0 10px;
  .container {
    width: 100%;
    .alert {
      position: fixed;
      top: 65px;
      width: 100%;
      z-index: 20;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow-y: scroll;
      padding: 10px;

      background-color: #fff;
      border-radius: 15px;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      // firefox
      scrollbar-width: none;
      &::-webkit-scrollbar {
        width: 0 !important;
      }

      .additional-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .remember {
          display: flex;
          align-items: center;
          .checkbox {
            color: #4267b2;
          }
        }
        .forget {
          text-transform: capitalize;
        }
      }

      .buttons {
        display: flex;
        justify-content: center;

        .login {
          @include buttonStyle();
          width: 120px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          background-color: #4267b2;
          color: white;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .auth-content-container {
    padding: 0 !important;
    .container {
      width: auto;
      .alert {
        width: 420px !important;
      }
      .wrapper {
        width: 400px;
        .additional-info {
          margin-bottom: 15px !important;
          .remember {
            span {
              font-size: 13px !important;
            }
          }
          button {
            font-size: 13px !important;
          }
        }
      }
    }
  }
}
