@mixin replyContainer {
  color: #8e8e8e;
  font-size: 14px;
  margin-bottom: 10px;
}

.comment-container {
  scrollbar-width: none;
  resize: none;
  width: 100%;
  padding: 10px 10px 0;
  overflow: hidden;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px;
  max-height: 300px;
  overflow-y: scroll;

  .comment-number {
    color: #8e8e8e;
    font-size: 15px;
    margin-bottom: 4px;
    cursor: pointer;
  }
  .comment-wrapper-container {
    display: flex;
    align-items: center;

    .comment-wrapper {
      flex: 1;
      font-size: 15px;
      margin-bottom: 4px;
      background-color: #f0f2f5;
      padding: 10px 10px 10px 20px;
      border-radius: 40px;
      margin-right: 30px;
      .comment-user {
        font-weight: 600;
      }
    }
    .fa-heart {
      cursor: pointer;
    }
    .fa-trash-alt {
      cursor: pointer;
      color: rgb(88, 116, 173);
      margin-left: 10px;
    }
  }
  .comment-bottom-container {
    @include replyContainer();
    span {
      margin-right: 12px;
    }
  }

  // .comment-reply-container {
  //   @include replyContainer();

  //   margin-left: 15px;
  // }
  .reply {
    cursor: pointer;
  }
  // .comment-reply-container {
  //   font-size: 14px;
  //   margin-bottom: 4px;
  //   .view-reply {
  //     color: #8e8e8e;
  //     margin-left: 15px;
  //     cursor: pointer;
  //   }
  //   .comment-wrapper {
  //     margin-top: 10px;
  //     background-color: #f0f2f5;
  //     padding: 10px 10px 10px 10px;
  //     border-radius: 40px;
  //     /* width: fit-content; */
  //     /* max-width: 100px; */
  //     margin-right: 45px;
  //     .reply-user {
  //       font-weight: 600;
  //       margin-left: 15px;
  //       color: black;
  //     }
  //   }
  //   .comment-reply {
  //     margin-left: 15px;
  //     span {
  //       margin-right: 12px;
  //     }
  //   }
  // }
  .comment-input-container {
    position: sticky;
    bottom: 0;
    padding-bottom: 5px;
    background-color: #fff;

    .comment-input {
      width: 100%;
      min-height: 40px;
      outline: none;
      border: none;
      padding: 10px;
      font-size: 15px;
      background-color: #f0f2f5;
      border-radius: 20px;
    }
  }
}

@media (min-width: 768px) {
  .comment-container {
    padding: 10px 25px 0 !important;
    .comment-input-container {
      padding-bottom: 10px !important;
      .comment-input {
        margin-top: 15px;
      }
    }
  }
}
