.alert-container {
  position: fixed;
  top: 65px;
  width: 100%;
  z-index: 20;
  .alert-error {
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .alert-container {
    width: 340px !important;
    .alert-error {
      margin-right: 0 !important;
    }
  }
}
